/* Styles for the header and navigation menu. */
header {
	background-color: #37277d;
	position: fixed;
	top: 0;
	width: 100%;
	color: #ffffff;
	font: 20pt "Arial Black", Sans-Serif;
	padding-bottom: 2px;
	z-index: 1;
}
.page-title {
	padding-left: 20px;
}
.menu-toggle {
	float: right;
	padding-right: 20px;
}
.menu-items {
	display: none;
}
ul {
	padding: 2px 0;
	margin: 0;
}
.toggle-items li {
	list-style-type: none;
	font: 16pt Arial, sans-serif;
}
.toggle-items a {
	padding-left: 20px;
	color: #ffffff;
	text-decoration: none;
}
.toggle-items a:hover {
	text-decoration: underline;
}

/*Styles for the main section of the page. */
main {
	margin: 50px 10px 10px;
}
h1 {
	font: 20pt "Arial Bold", Sans-Serif;
	margin: 0 0 0 10px;
}
.flex-container {
	display: flex;
	flex-flow: wrap;
	align-items: start;
}
.card {
	flex: 300px 1;
	margin: 10px;
	align-self: stretch;
	max-width: 600px;
}
.card:hover {
	background-color: #f9f9f9;
	box-shadow: 0 0 5px 5px #cccccc;
}
