/* Styles for the header and navigation menu. */
header {
	background-color: #37277d;
	position: fixed;
	top: 0;
	width: 100%;
	color: #ffffff;
	font: 20pt "Arial Black", Sans-Serif;
	padding-bottom: 2px;
	z-index: 1;
}
.page-title {
	padding-left: 20px;
}
.page-sub-title {
	display: none;
}
.menu-toggle {
	float: right;
	padding-right: 20px;
}
.menu-items {
	display: none;
}
ul {
	padding: 2px 0;
	margin: 0;
}
.toggle-items li {
	list-style-type: none;
	font: 16pt Arial, sans-serif;
}
.toggle-items a {
	padding-left: 20px;
	color: #ffffff;
	text-decoration: none;
}
.toggle-items a:hover {
	text-decoration: underline;
}

/*Styles for the main section of the page. */
main {
	margin: 60px 10px 10px;
}
h1 {
	font: 20pt "Arial Bold", Sans-Serif;
	margin: 10px;
}
.card-subtitle {
	margin-bottom: 10px;
}
.flex-container {
	display: flex;
	flex-flow: wrap;
	align-items: start;
}
.card {
	flex: 300px 1;
	margin: 10px;
	align-self: stretch;
	max-width: 600px;
	border-radius: 10px;
}
.card:hover {
	background-color: #f9f9f9;
	box-shadow: 0 0 5px 5px #cccccc;
}
.card-image-top {
	border-radius: 10px 10px 0 0;
}

/* Styles for the footer. */
footer {
	background-color: #37277d;
	width: 100%;
	color: #ffffff;
	font: 9pt "Arial Black", Sans-Serif;
	padding: 5px 0 5px 20px;
}

/* Responsive styles for screens above a break-point of 660 pixels. */
@media screen and (min-width: 660px) {

	/* Styles for the page header and navigation menu. */
	.menu-toggle {
		display: none;
	}
	.menu-items {
		display: block;
	}
	.menu-items li {
		display: inline;
	}
	main {
		margin-top: 100px;
	}
	.page-sub-title {
		display: inline;
		font: 15pt Arial, Sans-Serif;
		max-width: 200px;
	}
	
}
