/* Styles for the header and navigation menu. */
header {
	background-color: #37277d;
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	width: 100%;
	color: #ffffff;
	padding-bottom: 2px;
	z-index: 1;
}
.page-title {
	padding-left: 20px;
	font: 2em "Arial Black", Sans-Serif;
}
.page-sub-title {
	display: none;
}
.menu-toggle {
	float: right;
	padding-right: 20px;
	font: 2em "Arial Black", Sans-Serif;
}
.menu-items {
	display: none;
}
ul {
	padding: 2px 0 0 20px;
	margin: 0;
}
.toggle-items li {
	list-style-type: none;
	font: 16pt Arial, sans-serif;
	border-top: 1px solid #6a5aaf;
	padding: 2px 0;
}
.toggle-items a {
	color: #ffffff;
	text-decoration: none;
}
.toggle-items a:hover {
	text-decoration: underline;
}


/* Styles for displaying image fader for the page heading. */
.fader-image {
	width: 100%;
	opacity: 0.7;
	max-height: 400px;
	object-fit: cover;
	object-position: center;
}
.fade-in {
	animation-name: fade-transition;
	animation-duration: 2s;
}
@keyframes fade-transition {
	from {
		opacity: 0.4;
	}
	to {
		opacity: 0.7;
	}
}
.hidden-content {
	display: none;
}
.block-content {
	display: block;
}

/*Styles for the main section of the page. */
main {
	margin: 15px;
}
.card-subtitle {
	margin-bottom: 10px;
}
.flex-container {
	display: flex;
	flex-flow: wrap;
	align-items: start;
	justify-content: space-around;
	max-width: 1225px;
	margin: auto;
}
.card {
	flex: 300px 1;
	margin: 10px;
	align-self: stretch;
	max-width: 600px;
	border-radius: 10px;
}
.card:hover {
	background-color: #f9f9f9;
	box-shadow: 0 0 5px 5px #cccccc;
}
.card-image-top {
	border-radius: 10px 10px 0 0;
}

/* Styles for the footer. */
footer {
	background-color: #37277d;
	width: 100%;
	color: #ffffff;
	font: 1em "Arial Black", Sans-Serif;
	padding: 5px 0 5px 20px;
}

/* Responsive styles for screens above a break-point of 0 pixels. */
@media screen and (min-width: 600px) {

	/* Styles for the page header and navigation menu. */
	.menu-toggle {
		display: none;
	}
	.menu-items {
		display: block;
	}
	.menu-items li {
		display: inline-block;
	}
	main {
		margin-top: 25px;
	}
	.page-title {
		font: 3em "Arial Black", Sans-Serif;
	}
	.page-sub-title {
		display: inline;
		font: 1.25em Arial, Sans-Serif;
		padding-left: 10px;
	}
	.toggle-items li {
		border: 0;
		padding: 5px 0;
	}
	.toggle-items a {
		padding: 5px 10px;
	}
	.toggle-items a:hover {
		text-decoration: none;
		background-color: #fbb900;
		color: #333333;
		padding: 5px 10px;
	}
	
}
